body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}



.topBar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#2b3a67;
color:white;
}

#searchBar{
padding:8px;
border-radius:5px;
border:none;
width:200px;
}



.notesSection{
padding:20px;
}

#notesList{
max-width:700px;
margin:auto;
}

.noteCard{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:8px;
display:flex;
gap:15px;
box-shadow:0px 2px 8px rgba(0,0,0,0.1);
}

.noteCard img{
width:70px;
height:90px;
border-radius:5px;
}

.noteInfo{
flex:1;
}

.noteInfo h3{
margin:0;
}

button{
padding:6px 12px;
background:#4CAF50;
color:white;
border:none;
border-radius:4px;
cursor:pointer;
}



.footerMenu{
position:fixed;
bottom:0;
width:100%;
background:#2b3a67;
display:flex;
justify-content:space-around;
padding:10px;
}

.footerMenu button{
background:white;
color:#2b3a67;
font-weight:bold;
}